  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<div class="wrapper">
<style>
/* cambiar el color de fondo a la barra */
nav.navbar {
    background-color: #CC1414;
}
</style>
      <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>U</b>nion</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Productos</b>Union</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">           
            <button class="btn btn-basic"><li><a href="{% url 'users_app:home' %}"><i class="glyphicon glyphicon-home"><h6>Inicio</h6></i></a></li></button> 
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="{% url 'users_app:home' %}" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{ MEDIA_URL }}{{ user.avatar }}" class="img-circle" alt="Panes" height="20" width="20" > 
                                    <div class="col-xs-5 selectContainer">
                                    <select class="form-control" >
                                    <option value="s">Tostada</option>
                                    <option value="m">Pan Integrales</option>
                                      </select>
                                    </div>  
                  <span class="hidden-xs">{{ user.username|capfirst }} {{ user.last_name|capfirst }}</span>
                </a>
                <li class="dropdown user user-menu">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{ MEDIA_URL }}{{ user.avatar }}" class="img-circle" alt="Panetones" height="20" width="20" >   
                  <span class="hidden-xs">{{ user.username|capfirst }} {{ user.last_name|capfirst }}</span>
                  
                </a>
                <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{ MEDIA_URL }}{{ user.avatar }}" class="img-circle" alt="Jugos" height="20" width="20" > 
                  <span class="hidden-xs">{{ user.username|capfirst }} {{ user.last_name|capfirst }}</span>
                </a>
                <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{ MEDIA_URL }}{{ user.avatar }}" class="img-circle" alt="Panes Integrales " height="20" width="20" > 
                  <span class="hidden-xs">{{ user.username|capfirst }} {{ user.last_name|capfirst }}</span>
                </a>
                <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{ MEDIA_URL }}{{ user.avatar }}" class="img-circle" alt="Granolas" height="20" width="20" > 
                  <span class="hidden-xs">{{ user.username|capfirst }} {{ user.last_name|capfirst }}</span>
                </a>
                <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{ MEDIA_URL }}{{ user.avatar }}" class="img-circle" alt="Vinos " height="20" width="20" > 
                  <span class="hidden-xs">{{ user.username|capfirst }} {{ user.last_name|capfirst }}</span>
                </a>
                <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{ MEDIA_URL }}{{ user.avatar }}" class="img-circle" alt="Panetones " height="20" width="20" > 
                  <span class="hidden-xs">{{ user.username|capfirst }} {{ user.last_name|capfirst }}</span>
                </a>
               <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{ MEDIA_URL }}{{ user.avatar }}" class="img-circle" alt="Ver Perfil de " height="20" width="20" > 
                  <span class="hidden-xs">{{ user.username|capfirst }} {{ user.last_name|capfirst }}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <!--<img src="{{ MEDIA_URL }}{{ user.avatar }}" class="img-circle" alt="Perfil de " >-->
                    <img src="../../media/users/cris.jpg" height="100" width="100" >
                     <p>
                       {{ user.username|capfirst }} {{ user.last_name|capfirst }}
                  
                    </p>
                  </li>
  
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <!--<a href="#" class="btn btn-default btn-flat">Profile</a>-->
                    </div>
                    <div class="">
                      <a href="{% url 'users_app:logout' %}" class="btn btn-success">Salir</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <!--<li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>-->
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
            <!--<img src="{{ MEDIA_URL }}{{ user.avatar }}" class="img-circle" alt="User Image" >--> 
            </div>
            <div class="pull-left info">
              <p>{{ user.username|capfirst }} {{ user.last_name|capfirst }}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>

          <!-- sidebar menu: : style can be found in sidebar.less -->

          <ul class="sidebar-menu">
            <center><img src="../../media/users/login.png" height="200" width="200" ></center>
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-child"></i> <span>Clientes Union</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="{% url 'clientes_app:lista_clientes' %}"><i class="fa fa-check-square"></i> Listar clientes</a></li>
                <li><a href="{% url 'clientes_app:create_clientes' %}"><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#">
                <i class="fa fa-child"></i> <span>Distribuidores</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="{% url 'distribuidores_app:lista_distribuidores' %}"><i class="fa fa-check-square"></i> Lista</a></li>
                <li><a href="{% url 'distribuidores_app:create_distribuidor' %}"><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-child"></i> <span>Sucarsales</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="{% url 'laboratorios_app:lista_laboratorios' %}"><i class="fa fa-check-square"></i> Lista</a></li>
                <li><a href="{% url 'laboratorios_app:create_laboratorios' %}"><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#">
                <i class="fa fa-medkit"></i>
                <span>Productos</span>
                <span class="label label-primary pull-right">2</span>
              </a>
              <ul class="treeview-menu">
                <li><a href="{% url 'medicamentos_app:lista_medicamentos' %}"><i class="fa fa fa-check-square"></i> Lista</a></li>                
                <li><a href="{% url 'medicamentos_app:create_medicamentos' %}"><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>               
              </ul>
            </li>

     
            <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Compras</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{% url 'compras_app:lista_compras' %}"><i class="fa fa-circle-o"></i> Listado de Compras</a></li>
                <li><a href="{% url 'compras_app:realizar_compra' %}"><i class="fa fa-circle-o"></i> Realizar Compras</a></li>
                <!--<li><a href=""><i class="fa fa-circle-o"></i> Realizar Compras</a></li>-->
                <li><a href="{% url 'compras_app:generar_reporte_lista_compras' %}"><i class="fa fa-circle-o"></i> Reportes Compras</a></li>                
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-laptop"></i>
                <span>Ventas</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
              <li><a href="{% url 'factura_app:lista_ventas' %}"><i class="fa fa-circle-o"></i> Lista Ventas</a></li>
               
                <li><a href="{% url 'factura_app:factura_venta' %}"><i class="fa fa-circle-o"></i> Realizar Venta</a></li>
                <li><a href="{% url 'factura_app:consultar_factura' %}"><i class="fa fa-circle-o"></i> Consultar Venta</a></li>
                <li><a href="{% url 'factura_app:generar_reporte_factura' %}"><i class="fa fa-circle-o"></i> Reporte Venta</a></li>
               
              </ul>
            </li>

        <!--    <li class="header">Alertas</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Medicamentos</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Compras</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Ventas</span></a></li>      -->
        </section>
        <!-- /.sidebar -->
      </aside>
      
